<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Formulário de Cadastro de Sensor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Cadastrar Sensor</h1>
</header>
<div class="form-container">
    <form th:action="@{/sensors/cadastrar}" th:object="${sensorDTO}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label for="nomeSensor">Nome:</label>
        <input type="text" id="nomeSensor" th:field="*{nome}" required/><br/>

        <label for="tipoSensor">Tipo:</label>
        <input type="text" id="tipoSensor" th:field="*{type}" required placeholder="Insira o tipo do sensor"/><br/>

        <button type="submit">Salvar</button>
    </form>
    <br>
    <a th:href="@{/sensors/listar}" class="btn btn-cancel">Voltar para a Lista</a>
</div>
<footer>
    <p>&copy; 2024 Nexus Systems</p>
</footer>
</body>
</html>
