<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Nexus Energia Renovável</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Bem-vindo ao Nexus - Energia Renovável!</h1>
    <nav>
        <a href="/sensors/listar" class="btn btn-lista">Lista de Sensores</a>
        <a href="/devices/listar" class="btn btn-lista">Lista de dispositivos</a>
        <a href="/energy/listar" class="btn btn-lista">Lista de consumo de Energia</a>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </nav>
</header>

<main class="container">
    <h2>Sobre o Nexus</h2>
    <p>
        O Nexus é um projeto inovador e visionário voltado para a transformação sustentável do setor energético. Em um cenário global onde a busca por soluções de energia limpa e renovável nunca foi tão crucial, o Nexus se destaca como um facilitador dessa transição, fornecendo tecnologias avançadas para o monitoramento, otimização e gestão inteligente do consumo de energias renováveis.
    </p>
    <p>
        Nosso propósito é criar soluções que permitam empresas e consumidores adotarem fontes de energia mais sustentáveis, como energia solar, eólica e hidrelétrica, de forma eficiente, econômica e com impacto positivo no meio ambiente. Para isso, utilizamos sensores inteligentes, análises de dados em tempo real e inteligência artificial, criando um ecossistema integrado que proporciona o controle completo sobre o desempenho de cada fonte de energia renovável.
    </p>
    <p>
        Ao escolher o Nexus, sua empresa não apenas investe em tecnologias de ponta, mas também faz parte de uma movimento global em direção à sustentabilidade e à energia limpa. Juntos, podemos transformar a maneira como o mundo gera e consome energia, criando um impacto positivo tanto para as empresas quanto para o meio ambiente.
    </p>
    <p>
        Explore nosso site para saber mais sobre como podemos ajudar a transformar sua gestão energética, promover a sustentabilidade e fazer a diferença no mundo da energia renovável. Se tiver alguma dúvida ou quiser conversar sobre como podemos colaborar, não hesite em entrar em contato conosco!
    </p>
</main>

<footer>
    <p>&copy; 2024 Nexus - Energia Renovável. Todos os direitos reservados.</p>
</footer>
</body>
</html>